@font-face {
    font-family: opensans-bold;
    src: url(../fonts/opensans-bold.ttf);
}

@font-face {
    font-family: opensans-italic;
    src: url(../fonts/opensans-italic.ttf);
}

@font-face {
    font-family: opensans-light;
    src: url(../fonts/opensans-light.ttf);
}

@font-face {
    font-family: opensans-regular;
    src: url(../fonts/opensans-regular.ttf);
}

body {
    width: 1240px;
    margin: 0 auto;
    font-family: Arial;
    font-weight: 400;
}

.padding-site {
    padding: 20px;
    box-sizing: border-box;
}

.page-header {
    color: #fff;
    min-height: 130px;
    background-color: #353436;
}

.menu-srvizio {
    display: flex;
    justify-content: flex-end;
    list-style-type: none;
    margin: 0;
}

.menu-srvizio-list {
    font-family: 'opensans-regular', 'arial', sans-serif;
    font-size: 14px;
    line-height: 24px;
    font-weight: 400;
    color: #ffffff;
    text-transform: uppercase;
    margin-left: 10px;
}

.srvizio-svg {
    fill: #fff;
}

.homepage-header {
    display: flex;
    margin: 0;
}

.logo-svg {
    fill: currentColor;
    width: 400px;
    height: 83px;
}

.menu-navigacion {
    width: 100%;
    display: flex;
    justify-content: flex-end;
}

.menu-header-list {
    display: flex;
    justify-content: space-between;
    list-style-type: none;
    margin-top: 60px;
}

.menu-link {
    margin-left: 25px;
    font-family: 'opensans-regular', 'arial', sans-serif;
    font-size: 18px;
    line-height: 24px;
    font-weight: 400;
    color: #ffffff;
    text-decoration: none;
    text-transform: uppercase;
}


.menu-link:hover {
    font-size: 18px;
    line-height: 24px;
    font-weight: 700;
    color: #e2d1a6;
}

main {
    min-height: 769px;
    background-color: #353436;
    background-image: url(../img/fabulous_modern_pendant_lamp_for_dining_room_1705.jpg);
}

/*
.menu-link:active {
    color: gold;
}
*/


/*
.btn {
    display: block;
    width: 260px;
    padding: 14px;
    text-align: center;
    border: 1px solid #445161;
    text-decoration: none;
    background-color: #fff;
    text-transform: uppercase;
    border-radius: 10px;
    margin: 0 auto;
    font-size: 18px;
    line-height: 18px;
    font-weight: 700;
    color: #445161;
    word-break: break-all;
}

.btn:hover {
    background-color: #ccc;
    color: #fff;
    border: 1px solid #fff;
}

btn:active {
    background-color: #fff;
    color: #000;
    border: 1px solid #000;
}

.main-footer {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    padding: 50px;
    background-color: #445161;
}

.main-footer_title {
    display: block;
    margin: 0 0 30px 0;
    line-height: 36px;
    color: #ffffff;
}

.main-footer_form {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    width: 500px;
    margin: 0 46px 0 0;
}

.main-footer_form input[type="text"],
.main-footer_form input[type="email"],
.main-footer_form textarea {
    width: 100%;
    height: 40px;
    margin: 0 0 20px 0;
    padding: 10px;
    box-sizing: border-box;
    border: 1px solid #445161;
    border-radius: 5px;
    background-color: #fff;
    outline: none;
}

.main-footer_form textarea {
    width: 500px;
    height: 170px;
}

input[placeholder],
textarea[placeholder] {
    text-overflow: ellipsis;
    font-family: Arial;
    color: #445161;
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    text-align: left;
}


}

.main-footer_form input[type="text"]:hover::placeholder,
.main-footer_form input[type="email"]:hover::placeholder,
.main-footer_form textarea:hover::placeholder {
    color: white;
}



.main-footer-contacts-link:last-of-type {
    margin: 0 0 37px 0;
}


*/
