@font-face {
    font-family: opensans-bold;
    src: url(../fonts/opensans-bold.ttf);
}

@font-face {
    font-family: opensans-italic;
    src: url(../fonts/opensans-italic.ttf);
}

@font-face {
    font-family: opensans-light;
    src: url(../fonts/opensans-light.ttf);
}

@font-face {
    font-family: opensans-regular;
    src: url(../fonts/opensans-regular.ttf);
}

@font-face {
    font-family: playfairdisplay-bold;
    src: url(../fonts/playfairdisplay-bold.ttf);

}

@font-face {
    font-family: playfairdisplay-bolditalic;
    src: url(../fonts/playfairdisplay-bolditalic.ttf);
}

body {
    width: 1240px;
    margin: 0 auto;
    color: #fff;
    font-family: 'opensans-regular', 'arial', sans-serif;
    line-height: 24px;
    font-weight: 400;
}

a {
    text-decoration: none;
    color: #fff;
}

.padding-site {
    padding: 0 20px;
    box-sizing: border-box;
}

.page-header {
    min-height: 130px;
    background-color: #353436;
}

.menu {
    display: flex;
    justify-content: flex-end;
    list-style-type: none;
    margin: 0;
}

.menu-list {
    font-size: 14px;
    text-transform: uppercase;
    margin: -2px 11px 2px 3px;
}

.lock-svg {
    fill: #fff;
    margin-bottom: 2px;
}

.homepage-header {
    display: flex;
    margin: 0;
}

.logo-svg {
    fill: currentColor;
    width: 400px;
    height: 83px;
    margin-right: 65px;
}

.menu-navigacion {
    width: 100%;
    display: flex;
    justify-content: flex-end;
}

.menu-header {
    display: flex;
    justify-content: space-between;
    margin-top: 60px;
}

.menu-header-list {
    margin-left: 25px;
    list-style-type: none;
    font-size: 18px;
    text-transform: uppercase;
}

.menu-link:hover {
    font-weight: 700;
    color: #e2d1a6;
}


.list-dropdown: {}

.dropdown {
    position: relativere;
}

.menu-dropdown {
    /* display: none;*/
    position: absolute;
    background-color: #353436;
    top: 125px;
    left: 998px;
    width: 0;
    height: 0;
    overflow: hidden;
    transition: all 3s;
}

/*
.menu-dropdown{
position: absolute;
    background-color: #353436;
    top: 125px;
    right:273px
display: block;
width: 149px;;
  height: 132px;
}
*/


.list-dropdown:hover {
    font-weight: 700;
    color: #e2d1a6;
}

.list-dropdown:hover .menu-dropdown {
    width: 149px;
    height: 132px;
    transition: all 1s;
}

.list-item {
    list-style-type: none;
    font-family: 'opensans-regular', 'arial', sans-serif;
    font-size: 18px;
    line-height: 24px;
    font-weight: 400;
    color: #ffffff;
    text-transform: uppercase;
    margin-left: -30px;
}

.link-services:after {
    content: "";
    display: block;
    width: 132px;
    height: 1px;
    background-color: #ffffff;
    /*border: 0.8px solid #ffffff;*/
}

.link-services {
    font-size: 16px;
    color: #fffefe;
}

.link-services:hover {
    font-weight: 600;
    color: #e2d1a6;
}

.slider {
    min-height: 670px;
    background-color: #54533e;
    background-image: url(../img/fabulous_modern_pendant_lamp_for_dining_room_1705.jpg);
    background-size: 100%;
    background-repeat: no-repeat;
    background-position: center bottom;
    margin: 0 0 0 0;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    flex-direction: column;
}

.content {
    min-height: 138px;
    opacity: 0.85;
    background-color: #fff;
    margin: 0 0 229px 0;
    border: 1px solid #ccc;
    width: 41%;
    align-self: flex-end;
}

.title {
    font-family: 'playfairdisplay-bolditalic', 'arial', sans-serif;
    font-size: 30px;
    line-height: 24px;
    font-weight: 700;
    font-style: italic;
    text-transform: uppercase;
    color: #020202;
    padding: 0px 25px;
    margin: 20px 0 0 0;
}

.txt {
    font-size: 18px;
    color: #000000;
    padding: 0 27px;
    margin: 27px 0 0 0;
}

.pagination {
    width: 100%;
    display: flex;
    justify-content: center;
    /*     border: 5px solid green;*/
}

.pagination-item {
    display: block;
    border-radius: 50%;
    width: 12px;
    height: 12px;
    background-color: #ffffff;
    border: 1.5px solid #000000;
    margin: 0 8px 12px 1px;
}

.pagination-item:hover {
    transform: scale(1.2);
    background-color: #e2d1a6;
    border: 1.5px solid #000000;
}

.back {
    width: 84px;
    height: 28px;
    background-color: #ffffff;
}

.slider-arrow {
    border: 1px solid black;
    display: block;
    width: 25px;
    height: 25px;
    margin: 12px auto;
    border: none;
    border-top: 2px solid #020202;
    border-left: 2px solid #020202;
    transform: rotate(45deg);
}

footer {
    min-height: 274px;
    background-color: #353436;
    display: flex;
    flex-wrap: wrap;
}

.features {
    display: flex;
    justify-content: space-between;
    width: 100%;
    padding: 31px 158px 11px 155px
}

.meta {
    width: 21%;
    min-height: 180px;
    /*        border: 1px solid gray;*/
    flex-wrap: wrap;
}

.meta-heaing {
    font-family: 'playfairdisplay-bold', 'arial', sans-serif;
    font-size: 14px;
    line-height: 23px;
    font-weight: 700;
    text-transform: uppercase;
    color: #fefefe;
    margin: 0 0 17px 0;
}

.meta-text {
    font-family: 'opensans-light', 'arial', sans-serif;
    font-size: 12px;
    line-height: 17px;
    font-weight: 300;
    color: #ffffff;
    flex-wrap: wrap;
    margin: 0;
}

.subscription {
    width: 20%;
}

input {
    margin: 5px 0 3px 0;
    padding: 5px;
    box-sizing: border-box;
    text-transform: capitalize;
    background-color: #ffffff;
    outline: none;
}

.user {
    width: 184px;
    height: 32px;
    border: 1px solid #ccc;
}

.user:focus {
    border: 2px solid #e2d1a6;
}

.chek-txt {
    font-family: 'opensans-regular', 'arial', sans-serif;
    font-size: 10px;
    line-height: 24px;
    font-weight: 400;
    color: #b5b4b4;
}

input[type="submit"] {
    display: block;
    margin: 0 auto 10px auto;
    text-transform: uppercase;
    width: 184px;
    height: 32px;
    background-color: #000000;
    color: #fff;
    border: none;
    font-family: 'opensans-regular', 'arial', sans-serif;
    font-size: 17.7px;
    line-height: 23px;
    font-weight: 400;
}


input[type="submit"]:hover {
    background-color: #ccc;
    color: #fff;
}

input[type="submit"]:active {
    background-color: #fff;
    color: #000;
}

.links-block {
    width: 100%;
    min-height: 18px;
    display: flex;
    justify-content: space-between;
    margin: 5px 28px 17px 16px;
}

.contact {
    width: 59%;
    display: flex;
    justify-content: space-between;
}

.contact-txt {
    font-family: 'opensans-regular', 'arial', sans-serif;
    font-size: 12px;
    line-height: 24px;
    font-weight: 400;
    margin: 0;
}

.social {
      margin-left: 100px;
    margin-top: -4px;
}
    
.social-link {
    font-size: 20px;
    margin: 5px;
}

.languages {
    display: flex;
}

.lang {
    margin: 0;
    font-family: 'opensans-regular', 'arial', sans-serif;
    font-size: 14px;
    line-height: 24px;
    font-weight: 400;
    padding: 0 6px 0 6px;
    /*
    border-right: 1px solid #fff;
    height: 10px;
*/
}

.lang:after {
  content: "";
  display: inline-flex;
  width: 1px;
  height: 12px;
  background-color: #fff;
  margin: 0px -7px 0 9px;
  align-self: flex-end;
}
